source-material/Kaao-no-Namakaokapaoo-Mokuna-1-ANALYSIS_modified-by-david-for-conversion-to-MD-and-CSV.md
source-material/kaao-no-Namakaokapaoo-mokuna-1-analysis.pdf
output_docs
.env
**/__pycache*
.python-version
adapters
fused_model
